[Unit]
Description=Convenient service for iptables
After=iptables.service ip6tables.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c "ipwaiter --hire"
ExecStop=/bin/sh -c "ipwaiter --fire"

[Install]
WantedBy=multi-user.target
